@{
  ViewData["Title"] = "Payroll Management";
}

<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-5">
        <h2>Manage <b>Employees</b></h2>
      </div>
      <div class="col-sm-7">
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addEmployeeModal"
          data-toggle="modal"><i class="bi bi-person-plus"></i>&nbsp;&nbsp;<span>Add New Employee</span></button>
      </div>
    </div>
  </div>
  <table id="employeesTable" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<!--#region History Modal-->
<div class="modal fade" id="employeeHistoryModal" tabindex="-1" aria-labelledby="employeeHistoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeHistoryModalLabel"><i class="bi bi-clock-history"></i>Employee History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="contracts"></div>
                <div class="accordion" id="employeeContractsAccordion">
                    <script id="contractsTmpl" type="text/x-jsrender">
                        <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-{{>Id}}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{>Id}}" aria-expanded="true" aria-controls="collapse-{{>Id}}">
                        <b>Contract From:</b>&nbsp;&nbsp;&nbsp;&nbsp; {{>StartDate.substring(0, 10)}} &nbsp;&nbsp;&nbsp; <b>To:</b> &nbsp;&nbsp;&nbsp; {{>EndDate.substring(0, 10)}} 
                        </button>
                        </h2>
                        <div id="collapse-{{>Id}}" class="accordion-collapse collapse" aria-labelledby="heading-{{>Id}}" data-bs-parent="#employeeContractsAccordion">
                        <div class="accordion-body">
                        <ul style="list-style-type: none;">
                        {{for Timesheets}}
                        <li class="mb-3 text-secondary">
                        Timesheet for:&nbsp;&nbsp;  <b> {{>FromDate.substring(0, 10)}}</b>&nbsp;&nbsp;&nbsp; To: <b> {{>ToDate.substring(0, 10)}}</b>&nbsp;&nbsp;&nbsp;<i onclick="downloadPaymentHistory({{>PaymentHistories[0].Id}});" class="fs-5 bi bi-file-earmark-arrow-down text-success" data-bs-toggle="tooltip" title="Download Salary History as CSV file"></i>
                        </li>
                        {{/for}}
                        </ul>
                        </div>
                        </div>
                        </div>
                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--#endregion History Modal-->

<!--#region Create Employee Modal-->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel"><i class="bi bi-person-plus"></i>Add Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="newEmployeeSuccessAlert" class="alert alert-success" style="display:none;" role="alert">
                    <i class="bi bi-check2-circle"></i> The new employee saved!
                </div>
                <form id="addEmployeeForm" class="row g-3 needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" required>
                        <div class="invalid-feedback">
                            First name is rquired.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" required>
                        <div class="invalid-feedback">
                            Last name is rquired.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="birthDate" class="form-label">Birth Date:</label>
                        <input type="date" class="form-control" id="birthDate" name="birthDate" required>
                        <div class="invalid-feedback">
                            Birth Date is rquired.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="addEmployeeButton">Save</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="item_id" value="0" />
<!--#endregion Create Employee Modal-->


<!--#region Edit Employee Modal-->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="editEmployeeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEmployeeModalLabel"><i class="bi bi-pencil"></i>Edit Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="editEmployeeSuccessAlert" class="alert alert-success" style="display:none;" role="alert">
                    <i class="bi bi-check2-circle"></i> The employee data saved!
                </div>
                <form id="editEmployeeForm" class="row g-3 needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" required>
                        <div class="invalid-feedback">
                            First name is rquired.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" required>
                        <div class="invalid-feedback">
                            Last name is rquired.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="birthDate" class="form-label">Birth Date:</label>
                        <input type="date" class="form-control" id="birthDate" name="birthDate" required>
                        <div class="invalid-feedback">
                            Birth Date is rquired.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="editEmployeeButton">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--#endregion Edit Employee Modal-->



<!--#region Delete Employee Modal-->
<div class="modal modal-danger fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteEmployeeModalLabel"><i class="bi bi-trash"></i>Delete Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="deleteEmployeeSuccessAlert" class="alert alert-success" style="display:none;" role="alert">
                    <i class="bi bi-check2-circle"></i> The employee Deleted!
                </div>
                <p>Are You sure? Do you want to delete this Employee?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="deleteEmployeeButton">Delete</button>
            </div>
        </div>
    </div>
</div>
<!--#endregion Delete Employee Modal-->

@section Scripts {

}
